<div class="sidebar bg-white vh-100 p-3" style="width: 220px;">
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'dashboard:index' %}">
                <i class="bi bi-house-door me-2"></i>Inicio
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'usuarios:lista' %}">
                <i class="bi bi-people me-2"></i>Usuarios
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'ofertas:lista' %}">
                <i class="bi bi-briefcase me-2"></i>Ofertas
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'postulaciones:lista' %}">
                <i class="bi bi-person-check me-2"></i>Postulaciones
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'contratos:lista' %}">
                <i class="bi bi-file-earmark-text me-2"></i>Contratos
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'reportes:lista' %}">
                <i class="bi bi-exclamation-triangle me-2"></i>Reportes
            </a>
        </li>
    </ul>
</div>